#!/bin/bash

case `hostname` in
london )
  # xrandr --output HDMI-0 --mode 1920x1080 --rate 144.01
  ;;
molokai )
  xrandr --output HDMI-0 --mode 1920x1080
  xrandr --output DP-3 --mode 1920x1080 --right-of HDMI-0
  ;;
* )
  ;;
esac

fcitx > /dev/null 2>&1

nextcloud &
xrdb ~/.Xresources
