#!/bin/bash

case `hostname` in
london )
  xrandr --output HDMI-1 --mode 1920x1080
  ;;
molokai )
  xrandr --output HDMI-0 --mode 1920x1080
  xrandr --output DP-3 --mode 1920x1080
  ;;
* )
  ;;
esac

if [ $XDG_CURRENT_DESKTOP="i3" ]; then
  XDG_CURRENT_DESKTOP="Unity"
fi
